.collection a.collection-item:not(.active):hover {
    background-color: #ddd !important;
}

#curso {
    font-size: small;
    color: grey;
}

h1 {
    font-size: 50px;
}

a:focus { 
    outline: none !important;
    border:1px solid black;
    box-shadow: 0 0 10px #719ECE;
}
